.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
}

.navbar > ul {
  display: initial;

  color: var(--primary);
}
.navbar > ul > a {
  margin: 2rem;
}

.navbar > img {
  width: clamp(5rem, 5%, 5.1rem);
  display: flex;
  justify-content: flex-start;
}

.navbar > div {
  display: none;

  width: 2rem;

  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.navbar > div > div {
  width: 100%;
  height: 0.69rem;

  background-color: var(--secondary);
}

@media only screen and (max-width: 660px) {
  .navbar > ul {
    display: none;
  }
  .navbar > div {
    display: flex;
  }
}
