@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: black;
  color: white;
}

a {
  transition: color 300ms ease-in-out;
  text-decoration: none;
  color: wheat;
}

a:hover {
  color: white;
}
